{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Pinochio's Pizza & Subs : Menu | Welcome - {{ user.first_name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				window.setInterval( () => {
					$.ajax({
						url: '127.0.0.1/8000/',
						type: 'get',
						success: function(data) {
							document.querySelector('#status').innerHTML = data;
						}

					});
				}, 5000);

				// document.querySelector('#order-btn').onclick = () => {

				// 	var txt;
				// 	if (confirm("Click Ok to place your order")) {
				// 		return true;

				// 	} else {
				// 		return false;
				// 	}
				// }


				document.addEventListener('click', event => {
                const element = event.target;
                const item_id = document.querySelector('.removeitem').value;
                if (element.className === 'removeitem') {
                    element.parentElement.remove();
                

	                const request = new XMLHttpRequest();


	                request.open('POST', 'removeitem');

	                // request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
	                request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
	                request.onload = () => {
	                	const data = JSON.parse(request.responseText);
	                	const contents = `Total Costs: $${data.total}`
	                	document.querySelector('#updated_total').innerHTML = contents;


	                }
	                

	                const data = new FormData();
	                data.append('item_id', item_id);


	                request.send(data);

	            	
				}
				});

			});




		</script>
	</head>
	<body>
	<header>
		<h2>Pinocchio's Pizza & Subs</h2>
		<h3> Welcome {{ user.first_name }}</h3>
		<div class="logout-btn">
		<a href="{% url 'logout' %}">LogOut</a>
		</div>
	</header>
	
	
	<h2>Menu</h2>
	<h3>Regular Pizza</h3>
	<div class="row">
		<div class="column"><b>Pizza</b></div>
		<div class="column"><b>Size</b></div>
		<div class="column"><b>Extra Toppings</b></div>
		<div class="column"><b>Order</b></div>
	</div>
	{% for regularpizza in regularpizzas %}
		<form action="{% url 'cart' regularpizza.id %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="column">{{ regularpizza.name }}</div>
				<div class="column">
					<select name="price">
						<option value="{{ regularpizza.price_small }}">Small : ${{ regularpizza.price_small }}</option>
						<option value="{{ regularpizza.price_large }}">Large : ${{ regularpizza.price_large }}</option>						
					</select>
				</div>
				<div class="column">
						
					<select name="toppings" size="3" multiple>
						{% for topping in toppings %}
							<option value="{{ topping.id }}">{{topping.name}} : ${{topping.rate }}</option>
						{% endfor %}
					</select>
						
				</div>
				<div class="column"><input type="submit" value="Add to cart"/></div>
			</div>
		</form>
	{% endfor %}
	<h3>Sicilian Pizza</h3>
	<div class="row">
		<div class="column"><b>Pizza</b></div>
		<div class="column"><b>Size</b></div>
		<div class="column"><b>Extra Toppings</b></div>
		<div class="column"><b>Order</b></div>
	</div>
	{% for sicilianpizza in sicilianpizzas %}
		<form action="{% url 'cart' sicilianpizza.id %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="column">{{ sicilianpizza.name }}</div>
				<div class="column">
					<select name="price">
						<option value="{{ sicilianpizza.price_small }}">Small : ${{ sicilianpizza.price_small }}</option>
						<option value="{{ sicilianpizza.price_large }}">Large : ${{ sicilianpizza.price_large }}</option>						
					</select>
				</div>
				<div class="column">
						
					<select name="toppings" size="3" multiple>
						{% for topping in toppings %}
							<option value="{{ topping.id }}">{{topping.name}} : ${{topping.rate }}</option>
						{% endfor %}
					</select>
						
				</div>
				<div class="column"><input type="submit" value="Add to cart"/></div>
			</div>
		</form>
	{% endfor %}


	<h3>Subs</h3>
	<div class="row">
		<div class="column"><b>Sub</b></div>
		<div class="column"><b>Size</b></div>
		<div class="column"><b>Extra Cheese</b></div>
		<div class="column"><b>Order</b></div>
	</div>
	{% for sub in subs %}
		<form action="{% url 'cart' sub.id %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="column">{{ sub.name }}</div>
				<div class="column">
					<select name="price">
						<option value="{{ sub.price_small }}">Small : ${{ sub.price_small }}</option>
						<option value="{{ sub.price_large }}">Large : ${{ sub.price_large }}</option>
					</select>
				</div>

				<!-- extra cheese -->
				<div class="column">
						
					<select name="toppings" size="3" multiple>
						{% for topping in toppings %}
							{% if topping.name == "Cheese" %}
								<option value="{{ topping.id }}">{{topping.name}} : ${{topping.rate }}</option>
							{% endif %}							
						{% endfor %}
					</select>
						
				</div>


				{% if sub.name == "Steak + Cheese" %}
					<div class="column">
							
						<select name="toppings" size="3" multiple> <b>Extra option</b>
							{% for topping in toppings %}
								{% if topping.name == "Mushrooms" or topping.name == "Green Peppers" or topping.name == "Onions" %}
								<option value="{{ topping.id }}">{{topping.name}} : ${{topping.rate }}</option>
								{% endif %}
							{% endfor %}
						</select>
							
					</div>	
				{% endif %}
				<div class="column"><input type="submit" value="Add to cart"></div>
				
			</div>
			
		</form>

	{% endfor %}


	<h3>Pasta</h3>
	<div class="row">
		<div class="column"><b>Pasta</b></div>
		<div class="column"><b>Price</b></div>
		<div class="column"><b>Order</b></div>
	</div>
	{% for pasta in pastas %}
		<form action="{% url 'cart' pasta.id %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="column">{{ pasta.name }}</div>
				<div class="column">
					<select name="price">
						<option value="{{ pasta.price_small }}">${{ pasta.price_small }}</option>
					
					</select>
				</div>
				<div class="column"><input type="submit" value="Add to cart"></div>
				
			</div>
			
		</form>

	{% endfor %}

	<h3>Salads</h3>
	<div class="row">
		<div class="column"><b>Salad</b></div>
		<div class="column"><b>Price</b></div>
		<div class="column"><b>Order</b></div>
	</div>
	{% for salad in salads %}
		<form action="{% url 'cart' salad.id %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="column">{{ salad.name }}</div>
				<div class="column">
					<select name="price">
						<option value="{{ salad.price_small }}">${{ salad.price_small }}</option>

					</select>
				</div>
				<div class="column"><input type="submit" value="Add to cart"></div>
				
			</div>
			
		</form>

	{% endfor %}

	<h3>Dinner Platters</h3>
	<div class="row">
		<div class="column"><b>Dinner Platter</b></div>
		<div class="column"><b>Size</b></div>
		<div class="column"><b>Order</b></div>
	</div>
	{% for platter in platters %}
		<form action="{% url 'cart' platter.id %}" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="column">{{ platter.name }}</div>
				<div class="column">
					<select name="price">
						<option value="{{ platter.price_small }}">Small : ${{ platter.price_small }}</option>
						<option value="{{ platter.price_large }}">Large : ${{ platter.price_large }}</option>
					</select>
				</div>
				<div class="column"><input type="submit" value="Add to cart"></div>
				
			</div>
			
		</form>

	{% endfor %}	

	<div class="cart">
		<h2 align="center" id="cartheader">Your Cart</h2>
		{% if user_cart %}
			<ol>

				{% for c in user_cart %}
				<div class="listitem">
				<li><div><p><b>{{c.item.category}}: {{ c.item.name }} | Base Price: ${{ c.base_price }}</b></p></div>
				
					<ul>
						{% for topping in c.topping.all %}
							<li><p> Extra Item : {{ topping.name }} | Extra charge : ${{ topping.rate }}<p></li>
						{% empty %}
							<p></p>
						{% endfor %}
					</ul>
					
				</li>
				<button class="removeitem" value="{{c.id}}">Remove Item</button>
				</div>
				{% endfor %}
				
				
			</ol>
			<form action="{% url 'order' %}" method="post" id="orderdetails" onsubmit="return confirm('Do you want to place this order?');">
				{% csrf_token %}
				<div><b id="updated_total">Total costs: ${{ total }}</b></div>
				<input id="order-btn" type="submit" value="Order">
			</form>
		{% else %}

			<div><b>Empty Cart</b></div>
				
		{% endif %}
		{% if order %}
			{% for i in order %}
			<ul>
				<li>Item Ordered - {{ i.item.name }} | Total - ${{ i.grand_total }}</li>
				<li id="status">Status - {{ i.status }}</li>
			</ul>
			{% endfor %}
		{% endif %}
	</div>

	</body>
</html>